<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <hr>

        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p><span style="float: right">published: {{ post.published_date}}</span></p>
                <br />
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <hr>
        {% endfor %}


    </body>
</html>